<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1Dan</key>
	<array>
		<string>MomtongBandeJirugui</string>
		<string>MomtongBaroJirugui</string>
		<string>OlgulBandeJirugui</string>
		<string>MomtongDubonJirugui</string>
		<string>SonnalAnChigui</string>
		<string>PiosonKutSeuoChirugui</string>
		<string>DungChumokApeChigui</string>
		<string>MeChumokNeryoYopChigui</string>
		<string>PalkupDollioChigui</string>
		<string>DuChechoJirugui</string>
		<string>DungChumokBakatChigui</string>
		<string>YopJirugui</string>
	</array>
	<key>2Dan</key>
	<array/>
	<key>3Dan</key>
	<array/>
	<key>4Dan</key>
	<array/>
	<key>5Dan</key>
	<array/>
</dict>
</plist>
